.main
{
    
  background-color:antiquewhite;
}

.command
{
    font-family: sans-serif;
    font-size:120%;
    bottom:800px;
    text-align: right;
    padding:30px;
    word-spacing: 30px;
    
}
.image
{
    display: block;
    margin-left: 400px;
    width: 50%;
}

.first{
    margin-left:70px;
    margin-right:70px;
    text-align: center;
    font-size:150%;
    border-style: solid;
    padding:10px;
    background-color: aquamarine;
    
}

.second
{
    margin-left:70px;
    margin-right:70px;
    text-align: center;
    font-size:150%;
    border-style: solid;
    padding:10px;
}

.third
{
    margin-left:70px;
    margin-right:70px;
    text-align: center;
    font-size:150%;
    border-style: solid;
    padding:10px;
    background-color: aquamarine;
}

.fourth
{
    margin-left:70px;
    margin-right:70px;
    text-align: center;
    font-size:150%;
    border-style: solid;
    padding:10px;
}