body
{
    background-color:antiquewhite;
}
.top{
    font-family: sans-serif;
    font-size:150%;
    padding :5px;
    line-height:1;

}

.second
{
    position: absolute;
    bottom: 460px;
    width: 500px;
    padding:10px;
}


.command
{
    text-align : right;
    padding : 10px;
    word-spacing: 30px;
}

.box
{
    background: rgb(236, 213, 177);
    border-radius: 7px;
    box-sizing: content-box;
    position: absolute;
    bottom:420px;
    width: 95px;
    padding:10px;
    
}

.location
{
    border-radius: 7px;
    background-color: rgb(246, 213, 180);
    position: fixed;
    bottom:200px;
    width: 500px;
    padding:10px;
}

.statistic
{
    border-radius: 7px;
    background-color: rgb(236, 186, 137);
    position:fixed;
    bottom:200px;
    right:200px;
    width:500px;
    padding:10px;
    
}


.flag
{
    position:fixed;
    right:320px;
    top:50px;
}

.big
{
    
    width: 1050px;
    margin: auto;
}